font-families = Verdana, Arial, Helvetica, sans-serif
header-color  = #008000

body 
    background-color #FFF
    font-family font-families
    font-size 12px

h1 
    color header-color
    font-family font-families
    font-size 18px
    font-weight bold
    text-align center

h2 
    color header-color
    font-family font-families
    font-size 16px
    font-weight bold
    margin-left auto
    margin-right auto

h3 
    color header-color
    font-family font-families
    font-size 14px
    font-weight bold
    margin-left auto
    margin-right auto

fieldset.std
    margin-left auto
    margin-right auto
    width 400px    

p 
    background-color #FFF
    font-family font-families
    font-size 12px

td 
    background-color #FFF
    font-family font-families
    font-size 12px

td.ffld
    background-color #CCC
    font-family font-families
    font-size 10px
    text-align right
    padding 2px

td.sfld
    background-color #EEE
    font-family font-families
    font-size 10px
    font-style italic
    text-align right
    padding 2px

td.subform
    background-color #EEE
    font-family font-families
    font-size 9px
    font-style italic
    text-align center
    padding 1px

td.subformns
    background-color #FFF
    font-family font-families
    font-size 9px
    font-style italic
    text-align center
    padding 1px

#main
    margin-left auto
    margin-right auto
    text-align center
    width 400px

#choose
    margin-left auto
    margin-right auto
    text-align center

#contents
    margin-left auto
    margin-right auto
    margin-top 10px
    border 1px solid #000
    overflow hidden
    width 900px
    height 700px

#addloc
    margin-left auto
    margin-right auto
    width 900px
